body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #cee1ff;
  text-align: center;
  font-family: "dutismo";
}
.App {
  padding: 2em;
}
.App-header {
  color: black;
}
.App-intro {
  font-size: large;
  clear: both;
}

.temp {
  line-height: .5em;
  font-size: 4em;
}
.weather {
  line-height: .5em;
  font-size: 1.75em;
  font-weight: normal;
}
.weather-icon {
  line-height: .5em;
  font-size: 2em;
}
.additional-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}